
@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--First Section-->
<div class="row" style="background-color:#0d141b; height:500;">
    <p class="col-md-2"></p>
    <img class=" col-md-4" src="https://www.jeswork.com/wp-content/uploads/2015/01/j-s-519X600.png" alt="image text">
    <p class="col-md-6" style="padding-top:200px; font-size:32px;">
        <img class="text-nowrap" src="https://i1.wp.com/www.jeswork.com/wp-content/uploads/2018/01/JES-25th-website-logo-white.png?resize=215%2C103&ssl=1" />
        <br>
        <font style="color:white"> JES Foundation Repair Owned and<br>Operated by Professional Engineers</font>
        <br>
        <br>
        <button type="button" class="btn btn-secondary btn-lg" style="padding:16px 60px 16px 60px">Get Started Today</font></button>
    </p>



</div><!--Promo, Comment Out if there isn't an active promotion-->
<div class="row" style="height: 350px; background-color:#0673b7; padding-top:15px; padding-bottom:75px;">
    <br>
    <br>
    <br>
    <center>
        <h1><b><font color="#fff">Finance Offer</font></h1></b>

        <font size="6" style="background-color:#ffd800">Pay 0% Interest Unitl 2021!</font>
        <br>
        <font size="5" color="#fff">Offer Expires 05/31!</font>
    </center>
    <br>
    <center>
        <button type="button" class="btn btn-primary btn-lg" style="padding:16px 60px 16px 60px">Get Started Today</button>
    </center>

</div>

<!--Services-->


<div class="row" style="height: 500px; background-color:#fff; padding-top:100px; padding-left:20px; padding-right:20px">
    <div class="row">
        <div class="col-sm-3">
            <center>
                <h3><font style="color:#183f76"></font>Foundation Repair</h3></font>
                <img src="https://i1.wp.com/www.jeswork.com/wp-content/uploads/2015/01/fr-circle-icon.png?w=115&ssl=1" />
                <p style="padding-left:40px">Cracked bricks, sticking doors/windows, and cracks around door frames are signs of foundation problems.</p>

                <button type="button" class="btn btn-primary btn-sm" style="background-color:#0673b7">Free Concrete Lifting Inspection</button>
                <button type="button" class="btn btn-primary btn-sm">Learn About Concrete Lifting</button>
            </center>

        </div>
        <div class="col-sm-3">

            <center>
                <h3><font style="color:#183f76"></font>Crawl Space Repair</h3></font>
                <img src="https://i2.wp.com/www.jeswork.com/wp-content/uploads/2015/01/cs-ciricle-icon.png?w=115&ssl=1" />
                <p style="padding-left:40px">Crawl space moisture means crawl space mold. Mold creates health problems for your family. Keep a dry crawl space!</p>

                <button type="button" class="btn btn-primary btn-sm" style="background-color:#0673b7">Free Crawl Space Inspection</button>
                <button type="button" class="btn btn-primary btn-sm">Learn About Crawl Space Repair</button>
            </center>

        </div>

        <div class="col-sm-3">


            <center>
                <h3><font style="color:#183f76"></font>Basement Waterproofing</h3></font>
                <img src="https://i2.wp.com/www.jeswork.com/wp-content/uploads/2015/01/cs-ciricle-icon.png?w=115&ssl=1" />
                <p style="padding-left:40px">Did you know just one inch of water in your basement could cost you up to $8,000! Don’t risk it – protect your greatest assets!</p>

                <button type="button" class="btn btn-primary btn-sm" style="background-color:#0673b7">Free Waterproofing Inspection </button>
                <button type="button" class="btn btn-primary btn-sm">Learn about Waterproofing</button>
            </center>

        </div>
        <div class="col-sm-3">
            <center>
                <h3>
                    <font style="color:#183f76"></font>
                    Concrete Lifting
                </h3></font>
                <img src="https://i2.wp.com/www.jeswork.com/wp-content/uploads/2015/01/cs-ciricle-icon.png?w=115&ssl=1" />
                <p style="padding-left:40px">
                    Cracked sidewalks, sinking patios, uneven driveways, pool decks, and more! See what concrete lifting can do for you!
                </p>

                <button type="button" class="btn btn-primary btn-sm" style="background-color:#0673b7">Free Concrete Lifting Inspection</button>
                <button type="button" class="btn btn-primary btn-sm">Learn about Concrete Lifting</button>
            </center>
        </div>
    </div>
</div>

<!--Scrolling Reviews-->


<div class="row" style="height: 500px; background-color:#fff; padding-top:100px;">
    <div class="col">

        <center><h2 style="color:#0c131a"><b>Here's What Our Customers Have to Say</h2></b></center>
        <div id="TestimonialCarousel" class="carousel slide" data-ride="carousel">
            <!-- Carousel indicators -->
            <ol class="carousel-indicators">
                <li data-target="#TestimonialCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#TestimonialCarousel" data-slide-to="1"></li>
                <li data-target="#TestimonialCarousel" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for carousel items -->
            <div class="carousel-inner">
                <div class="item carousel-item active">
                    <center>
                        <p class="testimonial" style="color:#0673b7; font-size: 24px">Very professional
                        <p class="overview" style="color:#0673b7; font-size: 18px"><b>Robert D.</b></p>

                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                    </center>
                </div>
                <div class="item carousel-item">
                    <center>
                        <p class="testimonial" style="color:#0673b7; font-size: 24px">Jared, David and Corey did an excellent job on our crawl space repairs!
                        <p class="overview" style="color:#0673b7; font-size: 18px"><b>Kimberly Tuttle T.</b></p>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                    </center>
                </div>
                <div class="item carousel-item">
                    <center>
                        <p class="testimonial" style="color:#0673b7; font-size: 24px">I really appreciated their efficient work and pleasant attitude working with me. I would recommend them in a heartbeat!
                        <p class="overview" style="color:#0673b7; font-size: 18px"><b>Sandra S.</b></p>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                        <span class="fa fa-star checked" style="color:#ffd800"></span>
                    </center>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <!-- Carousel controls -->
            <a class="carousel-control left carousel-control-prev" href="#TestimonialCarousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control right carousel-control-next" href="#TestimonialCarousel" data-slide="next">
                <i class="fa fa-angle-right"></i>


            </a>
        </div>
    </div>
</div>
</div>
<!--About Us Section-->
<div class="row" style="background-color:#fff; height:300;">
    <p class="col-md-1" style="padding-left:10px"></p>
    <img class=" col-md-4" src="https://i0.wp.com/www.jeswork.com/wp-content/uploads/2015/01/dave-jw-scott.png?w=1080&ssl=1" alt="image text">
    <p class="col-md-6" style="font-size:32px;">
        <br>
        <font style="color:#0d141b">
            JES Foundation Repair Experts in Foundations, <br>Crawl Spaces, and Basement Waterproofing
        </font>
    <p style="font-size:16px; line-height:2; padding-right:250px;">
        JES has been keeping homeowners in Virginia, Maryland, and DC safe for over 25 years! We understand that a foundation crack, wet crawl space, and wet basement are stressful. We’re here to help you find the best solution for your home’s foundation repair, basement waterproofing, and crawl space repair needs.

        Our foundation and waterproofing experts are extensively trained by our team of Professional Engineers, and certified by the foundation repair and basement waterproofing solutions manufacturers. This ensures that you’re receiving the best basement, crawl space or foundation repair solution.
    </p>
    <br>
    <button type="button" class="btn btn-primary btn-lg" style="padding:16px 60px 16px 60px">Learn More About Us</font></button>&nbsp; &nbsp;<button type="button" class="btn btn-primary btn-lg" style="padding:16px 60px 16px 60px">Schedule a Free Inspection Now</font></button>
    </p>
    <p class="col-md-1" style="font-size:32px;">


</div>

